.ui-container {
  width: 100%;
  max-width: var(--content-width);
  margin-inline: auto;
  padding-inline: var(--layout-margin);
}

@media (max-width: 860px) {
  .ui-container {
    padding-inline: 16px;
  }
}
