.ui-container {
  --container-width: var(--layout-width-wide);
  box-sizing: border-box;
  width: 100%;
  max-width: calc(var(--container-width) + (var(--layout-margin) * 2));
  margin-inline: auto;
  padding-inline: var(--layout-margin);
}

.ui-container--wide { --container-width: var(--layout-width-wide); }
.ui-container--detail { --container-width: var(--layout-width-detail); }
.ui-container--article { --container-width: var(--layout-width-article); }
