:root {
  --grey-50: #f6f6f3;
  --grey-100: #eeeeea;
  --grey-150: #e5e5df;
  --grey-200: #d8d8d1;
  --grey-300: #a3a39b;
  --grey-400: #77776f;
  --grey-500: #4d4d47;
  --grey-600: #20211e;
  --grey-700: #151612;
  --grey-white: #ffffff;

  --rad-600: #df4b3f;
  --rad-100: #f7e4df;
  --olive-50: #edf0e6;
  --blue-50: #e9eef2;
  --sand-50: #f2ede4;
  --green-600: #51ee6b;
  --green-700: rgba(38, 76, 44, 0.42);
}
