:root {
  --content-width: 1468px;
  --layout-margin: 40px;
  --layout-gutter: 20px;

  --pill-md-w: 12px;
  --pill-md-h: 30px;
  --pill-lg-w: 15px;
  --pill-lg-h: 44px;
  --pill-xl-w: 20px;
  --pill-xl-h: 60px;

  --shadow-soft: 4px 4px 60px rgba(0, 0, 0, 0.06);
}
