:root {
  --space-0: 0;
  --space-150: 6px;
  --space-200: 8px;
  --space-300: 12px;
  --space-350: 14px;
  --space-400: 16px;
  --space-500: 20px;
  --space-600: 24px;
  --space-700: 28px;
  --space-800: 32px;
  --space-900: 40px;
}
